.Corpo-cadastro{
    padding: 0;
    margin: 0;
}
.Card-cadastro{
    display: grid;
    grid-template-columns: auto auto;
}
#card-cad{
    height: 100vh;
    width: 25rem;
}
#input-cad{
    width: 17rem;
    height: 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: gray;
    background-color: none;
}
.campos-card-cad{
    display: grid;
    grid-template-rows: auto auto auto;
    margin-top: 10rem;
}
.email{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#texto-login{
    color:#87cefa;
    font-size: 32px;
    
}
.login-txt{
    margin-left: 4rem;
}

@media only screen and (max-width: 400px){
    .Card-cadastro{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .Corpo-cadastro{
        display: grid;
        grid-template-rows: auto auto;
    }
    #card-cad{
        height: 10rem;
    }
    .card-principal-cad{
        margin-left: 4rem;
    }

}